<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <h1 th:text="${session.user}">
                <h1 th:text="${session.user.id}">

                    <div class="dropdown">


                        <h4>Sortowanie:</h4>
                        <select class="form-control" id="sortingTypes" th:field="*{sortingTypes}">
                            <option th:each="sortingType : ${sortingTypes}"
                                    th:value="${sortingType}"
                                    th:text="${sortingType.getValues()}"></option>
                        </select>
                    </div>
        </div>
        <hr>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Wynik</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">ID utworzonych</th>
                <th scope="col">Akcje</th>

            </tr>
            </thead>
            <tbody>
                <tr th:each="idea : ${idea}">
                    <form id="ideaUp"><input type="hidden" th:value="${idea.id}"></form>
                    <input type="hidden" id="ideaId" th:value="${idea.id}">
                    <td th:value="${idea.id}" th:text="${idea.id}"></td>
                    <td th:text="${idea.title}"></td>
                    <td th:text="${idea.description}"></td>
                    <td th:text="${idea.added}"></td>
                    <td id="sPhoneFromResponse" th:text="${idea.score}"></td>
                    <td th:text="${idea.user.name}"></td>
                    <td th:text="${idea.user.id}"></td>
                    <td></td>
                    <td><input form="ideaUp" type="submit" value="Save" /></td>
                            <!--<form id="ideaDown">-->
                                <!--<button class="btn btn-danger btn-sm glyphicon glyphicon-minus"></button>-->
                            <!--</form>-->
                            <!--&lt;!&ndash;<button th:class="${idea.id % 2==0} ? 'btn btn-default btn-sm glyphicon glyphicon-edit': 'btn btn-default btn-sm glyphicon glyphicon-euro'"></button>&ndash;&gt;-->
                    </td>
                    <!--<h2 th:text="${canVote} ? 'Hello' : 'Something else'"></h2>-->
                </tr>
                </form>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <hr>
            <ul th:if="${allPages gt 0}" class="pagination">
                <li th:each="i : ${#numbers.sequence(0, allPages -1)}">
                    <a th:href="@{'/?page='}+${i}" th:text="${i+1}"></a>
                </li>
                <p th:text="${session.sort}" th:unless="${session == null}">[...]</p>
                <p th:text="${#httpServletRequest.getParameter('sort')}"
                   th:unless="${#httpServletRequest.getParameter('sort') == null}"></p>
            </ul>
        </nav>
    </div>
</div>
</div>
</body>
</html>