<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <div class="form-message"></div>
            <div class="dropdown">
                <select class="form-control-sm col-md-2 col-xs-12" id="sortingTypes" th:field="*{sortingTypes}"
                        onchange="window.location.href=this.value">
                    <div>
                        <option selected="" value="">Sortuj wg:</option>
                        <option th:each="sortingType : ${sortingTypes}"
                                th:value="@{'/?sort='}+${sortingType}"
                                th:text="${sortingType.getValues()}">
                        </option>
                    </div>
                </select>
            </div>
            <hr>
            <div class="myTable">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Data utworzenia</th>
                            <th scope="col">Wynik</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Głosowanie</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="idea : ${idea}">

                            <input class="hidden" id="ideaId" th:value="${idea.id}">
                            <td id="ideaTitle" th:text="${idea.title}"></td>
                            <td th:text="${idea.description}"></td>
                            <td th:text="${#temporals.format(idea.added, 'dd-MM-yyyy, HH:mm:ss')}"></td>
                            <td id="ideaScore" th:text="${idea.score}"></td>
                            <td th:text="${idea.user.name}"></td>
                            <td>
                                <form id="ideaForm" class="ideaForm">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-info btn-sm glyphicon-plus rateUp"
                                            id="rateUp"></button>
                                    <button type="submit" class="btn btn-danger btn-sm glyphicon-minus rateDown"
                                            id="rateDown"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <hr>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:classappend="${currentPage}== ${i} ? 'active' : ''"
                        th:each="i : ${#numbers.sequence(0, allPages -1)}">
                        <a th:href="@{'/?page='}+${i}+${'&sort='}+${session.sort}" th:text="${i + 1}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>