<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <h2>Imię:</h2>
            <h3 th:text="${user.name}"></h3>
            <h2>E-mail:</h2>
            <h3 th:text="${user.email}"></h3>
        </div>
    </div>
</div>
</body>
</html>